{% extends "base.html" %}

{% block title %}Admin Panel{% endblock %}

{% block page_heading %} ADMIN PANEL {% endblock %}
{% block content %}

<div class="container">
    <a href="{{ url_for('index') }}" class="back-link nav-button">&larr; Home</a>

    <div class="admin-links">
        <a href="{{ url_for('manage_bonuses') }}" class="nav-button"><i class="fas fa-star"></i>Bonuses</a>
        <a href="{{ url_for('send_discord_message') }}" class="nav-button">Messages</a>
    </div>

    <h2>Occupied Bookings</h2>
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Queue Type</th>
                    <th>Booked By</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in all_bookings %}
                <tr>
                    <td>{{ booking.booking_date }}</td>
                    <td>{{ booking.time_slot }}</td>
                    <td>{{ booking.queue_type | capitalize }}</td>
                    <td>{% if booking.booked_by %}{{ booking.booked_by }}{% else %}N/A{% endif %}</td>
                    <td class="action-buttons">
                        <a href="{{ url_for('edit_booking', booking_id=booking.id) }}" class="edit-btn"
                            title="Edit booking">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action="{{ url_for('delete_booking', booking_id=booking.id) }}" method="POST"
                            style="display:inline-block;">
                            <button type="submit" class="edit-btn"
                                onclick="return confirm('Are you sure you want to delete the booking for {{ booking.booked_by }} on {{ booking.booking_date }} at {{ booking.time_slot }}?');"
                                title="Delete booking">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="7">There are no occupied bookings in the database.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}